body {
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    max-width: 800px;
}

.lemon-btn {
    width: 100%;
    height: 100vh;
    border: none;
    background: url('lemon.webp') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
